# Python virtual environment
venv/

# Environment config and secrets
.env
.env.*

# Python bytecode/cache files
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.pyright/

# IDE/editor config files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files and folders
*.log
logs/
project/loggs/loggs_of_project/

# Database files (local or temporary)
*.sqlite3
*.db

# Auth/session sensitive files
project/crawler/auth_data.json
project/crawler/.playwright/

# Playwright output or state files
playwright-report/
project/crawler/playwright.log
.project_crawler_playwright_state.json

# Build/dist artifacts (for packaging)
dist/
build/
*.egg-info/

# Alembic migration files (optional: only ignore if you're regenerating them each time)
alembic/versions/*.py
